body {
  background: #F5F7FA;
  font-family: Arial, sans-serif;
}

.navbar {
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-link {
  color: #333;
  transition: color .2s;
}

.nav-link:hover {
  color: #007BFF;
}

.loanStatus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.track-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #e4e7ea;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  margin-bottom: 1.5rem;
}

.track-bar h3 {
  margin-bottom: 1rem;
}

.track-bar input[type="text"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.track-bar input {
  padding: .5rem;
  flex: 1;
  margin-right: .5rem;
}

.track-bar button {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.track-bar button:hover {
  background-color: #0056b3;
}

.loanStatus-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 860px;  /* Increased card width */
  position: relative;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  border-radius: 5px;
  padding: 1.5rem;  /* Increased card padding */
  margin-bottom: 1.5rem;  /* Increased bottom margin */
  padding-top: 2.5rem;
}

.loanStatus-status {
  text-align: center;
  font-weight: bold;
  margin-top: 10px; /* Or as needed */
  width: 100%;
}

.loanStatus-exit {
  position: absolute;
  top: 20px;
  right: 20px;
  color: red;
  cursor: pointer;
}

.loanStatus-card h3 {
  font-size: 1.2rem;
  font-weight: normal;
  color: #666;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #e5eaef;
  border-bottom: 1px solid #e9ecef;
  border-radius: 4px 4px 0 0;
}

.loanStatus-row {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;  /* Ensure two columns */
  gap: 2rem;  /* Increased gap */
}

.loanStatus-value {
  color: #333;
  font-weight: bold;  /* Made the text bold */
}

.loanStatus-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;  /* Increased gap */
}

.approved {
  color: green;
}

.pending {
  color: orange;
}

.rejected {
  color: red;
}

