profile-form {
  background-color: #93c778;
  padding: 155px;
}

.profile-container h3 {
  color: rgb(0, 0, 0);
  font-size: xx-large;
  font-style: bold;
}
.profile-container {
  padding: 35px;
  background-color: #6bb09d;
  align-items: flex-start;
}

.profile-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.profile-column {
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex: 1;
}

.profile-value {
  background-color: #F0F0F0;
  padding: 8px;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
  margin-right: 100px;
}
